<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <h1>About</h1>
    <pre>
      <h3>Team members</h3>
        1. นางสาว นนทวรรณ อุ่นพวก 6010613443<br>
        2. นางสาวณัฐฑริกา บุญมี 6010613484<br>
        3.นางสาวคณาพร อินทร์ชัยศรี 6010613591<br>
      <h3>Proposal</h3>
        <h4>ชื่อโครงงาน</h4>
          <p>
            FirstShop
          </p>
        <h4>ปัญหา</h4>
          <p>
            ในปัจจุบันมีร้านสะดวกซื้อมากมายให้เราเข้าไปเลือกซื้อสินค้า ซึ่งบางทีสินค้าชนิดเดียวกัน แบบ
            เดียวกัน แต่ราคาไม่เท่ากัน ทั้งนี้ อาจจะเกิดจากการตั้งราคาจากทางร้านเอง หรือการจัดโปรโมชั่น(การส่งเสริม
            การตลาด) จากผู้ประกอบการเอง แล้วผู้บริโภคจะสามารถทราบได้อย่างไร ว่าควรเลือกซื้อสินค้าจากร้านใด 
            เพื่อที่เราจะได้ราคาที่มีความสมเหตุสมผลและคุ้มค่ามากที่สุด
          </p>
        <h4>จุดประสงค์</h4>
          <p>
            จากปัญหาที่กล่าวมา ผู้จัดทำจึงนำปัญหาที่เกิดขึ้น มาพัฒนาเป็นแอพพลิเคชั่นเพื่อเปรียบเทียบราคา
            สินค้า เพื่อให้ผู้บริโภคได้ให้ในการประกอบการตัดสินใจในซื้อสินค้าชนิดหนึ่งๆได้ในราคาที่สมเหตุสมผลมาก
            ที่สุด ผู้บริโภคจะได้ไม่เสียโอกาสในการเลือกซื้อ ในบางทีร้านสะดวกซื้อมีการจัดโปรโมชั้นต่างๆในเวลาที่
            แตกต่างกัน แอพพลิเคชั่น FirstShop นี้จะช่วยเปรียบเทียบโปรโมชั่นต่างๆได้ โดยที่ผู้บริโภคไม่ต้องไปเสียเวลา
            คำนวณสิ่งต่างๆเอง และสามารถวางแผนการซื้อสินค้าพร้อมกับคำนวณราคาสินค้าที่เราต้องการให้ผู้ใช้ได้เพื่อ
            เพิ่มความสะดวกสบายในเลือกซื้อสิ่งต่างๆ
          </p>
        <h4>กลุ่มเป้าหมาย (Customers)</h4>
          <p>
            บุคคลทั่วไป
          </p>
        <h4>
          Requirements 
        </h4>
          <p>
            -ต้องมีการสมัครสมาชิก
            -มีการloginก่อนการใช้งาน
            -สามารถเพิ่มรายการสินค้าลงตะกร้า
            -สามารถเปรียบเทียบราคา
            -สามารถเปรียบเทียบโปรโมชั่น	
            -คำนวณราคาสินค้าทั้งหมด
          </p>
        <h4>LoFi UI</h4>
          <a href="https://uppic.cc/v/5Ftf" title="" ><img src="https://uppic.cc/d/5Ftf" alt="" width = "213.33" height = "170.67" /></a>
          <a href="https://uppic.cc/v/5FtG" title="" ><img src="https://uppic.cc/d/5FtG" alt="" width = "213.33" height = "170.67" /></a>
          <a href="https://uppic.cc/v/5Fsa" title="" ><img src="https://uppic.cc/d/5Fsa" alt="" width = "213.33" height = "170.67"/></a>
          <a href="https://uppic.cc/v/5Fts" title="" ><img src="https://uppic.cc/d/5Fts" alt="" width = "213.33" height = "170.67"/></a>
          <a href="https://uppic.cc/v/5Ftg" title="" ><img src="https://uppic.cc/d/5Ftg" alt="" width = "213.33" height = "170.67"/></a>
      <h3>User stories (connextra format)</h3>
        <p>
          ในฐานะแอดมิน
          ฉันต้องการอัปเดตราคาสินค้าและโปรโมชั่นสินค้า
          เพื่อที่จะให้ข้อมูลของสินค้าเป็นปัจจุบัน แล้วนำมาเปรียบเทียบราคาของสินค้าชนิดนั้นๆได้
        </p>
        <p>
          ในฐานะแอดมิน
          ฉันต้องการให้ผู้ใช้งานมีการสมัครสมาชิก
          เพื่อที่จะระบุตัวตนของผู้ใช้งาน
        </p>
        <p>
          ในฐานะแอดมิน
          ฉันต้องการให้มีการเข้าระบบก่อนการใช้งาน
          เพื่อที่จะวิเคราะห์ข้อมูลความต้องการของลูกค้า
        </p>
        <p>
          ในฐานะผู้ใช้งาน
          ฉันต้องการสมัครสมาชิก
          เพื่อที่จะเข้าใช้งานเว็บไซต์ได้
        </p>
        <p>
          ในฐานะผู้ใช้งาน
          ฉันต้องการให้มีการเข้าระบบก่อนการใช้งาน
          เพื่อที่จะแสดงตัวตนการเป็นสมาชิกของเว็บไซต์ และสามารถเข้าใช้งานเว็บไซต์ได้
        </p>
        <p>
          ในฐานะสมาชิก
          ฉันต้องการให้มีการจัดหมวดหมู่ของสินค้า
          เพื่อที่จะค้นหาชนิดของสินค้าที่มีความสนใจได้
        </p>
        <p>
          ในฐานะสมาชิก
          ฉันต้องการให้มีการค้นหาสินค้าได้จากชื่อของสินค้า
          เพื่อที่จะค้นหาสินค้าที่สนใจ และสินค้าที่ต้องการจะเช็คราคาได้
        </p>
        <p>
          ในฐานะสมาชิก
          ฉันต้องการที่จะเห็นราคาและโปรโมชั่นของแต่ละร้านค้า
          เพื่อที่จะเปรียบเทียบราคาและโปรโมชั่นของสินค้า ที่ใช้ในการประกอบการตัดสินใจ
        </p>
      <h3>links to git repository</h3>
      <a href="https://gitlab.com/6010613591/firstshop"><em>git repository</em></a>
      <h3>links to pivotal tracker</h3>
      <a href="https://www.pivotaltracker.com/n/projects/2409570"><em>pivotal tracker</em></a>
      
    </pre>
  </body>
</html>