<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FirstShop</title>
</head>
<form action="register.html.erb" method="post">
<center>
    <table>
        <tr>
            <td align="right"><label for="username">Username</label></td>
            <td><input type="text" name="username" id="username" size="20" maxlength="30"></td>
        </tr>

        <tr>
            <td align="right"><label for="password">Password</label></td>
            <td><input type="text" name="password" id="password" size="20" maxlength="30"></td>
        </tr>

        <tr>
            <td></td>
            <td align="right"><input type="submit" name="register" value="Register"
            onclick='location.replace("register.html.erb")'>
            </td>

            <td align="right"><input type="submit" name="login" value="Login"
            onclick='location.replace("www.thaicreate.com")'>
            </td>
        </tr>
    </table>
</center>
</form>
</html>
