<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FirstShop</title>
</head>
<form action="login.html.erb" method="post">
    <center>
    <table>
        <tr>
            <td></td> <td></td> <td></td> <td></td>
            <td align="right"><h2>Register</h2></td>
        </tr>
        <tr>
            <td align="right"><label for="name">Name</label></td>
            <td><input type="text" name="fname" id="fname" size="20" maxlength="30"></td>
            <td align="right"><label for="lname">Surname</label></td>
            <td><input type="text" name="lname" id="lname" size="20" maxlength="30"></td>
        </tr>

        <tr>
            <td align="right"><label for="mail">E-mail</label></td>
            <td><input type="text" name="mail" id="mail" size="20" maxlength="30"></td>
            <td align="right"><label for="phone">Phone</label></td>
            <td><input type="text" name="phone" id="phone" size="20" maxlength="10"></td>
        </tr>

        <tr>
            <td align="right"><label for="username">Username</label></td>
            <td><input type="text" name="username" id="username" size="20" maxlength="30"></td>
        </tr>

        <tr>
            <td align="right"><label for="password">Password</label></td>
            <td><input type="text" name="password" id="password" size="20" maxlength="30"></td>
        </tr>

        <tr>
            <td align="right"><label for="confirmpass">Confirm <br> Password</label></td>
            <td><input type="text" name="confirmpass" id="confirmpass" size="20" maxlength="30"></td>
        </tr>

        <tr>
            <td></td> <td></td> <td></td>
            <td align="right"><input type="submit" name="Confirm" value="Confirm"
            onclick='location.replace("login.html.erb")'>
            </td>
        </tr>
    </table>
    </center>
</form>
</html>