<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :product %>
    <%= form.text_field :product %>
  </div>

  <div class="field">
    <%= form.label :shop1 %>
    <%= form.text_field :shop1 %>
  </div>

  <div class="field">
    <%= form.label :price1 %>
    <%= form.text_field :price1 %>
  </div>

  <div class="field">
    <%= form.label :shop2 %>
    <%= form.text_field :shop2 %>
  </div>

  <div class="field">
    <%= form.label :price2 %>
    <%= form.text_field :price2 %>
  </div>

  <div class="field">
    <%= form.label :shop3 %>
    <%= form.text_field :shop3 %>
  </div>

  <div class="field">
    <%= form.label :price3 %>
    <%= form.text_field :price3 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
