<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Shop1</th>
      <th>Price1</th>
      <th>Shop2</th>
      <th>Price2</th>
      <th>Shop3</th>
      <th>Price3</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.product %></td>
        <td><%= product.shop1 %></td>
        <td><%= product.price1 %></td>
        <td><%= product.shop2 %></td>
        <td><%= product.price2 %></td>
        <td><%= product.shop3 %></td>
        <td><%= product.price3 %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
