<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @product.product %>
</p>

<p>
  <strong>Shop1:</strong>
  <%= @product.shop1 %>
</p>

<p>
  <strong>Price1:</strong>
  <%= @product.price1 %>
</p>

<p>
  <strong>Shop2:</strong>
  <%= @product.shop2 %>
</p>

<p>
  <strong>Price2:</strong>
  <%= @product.price2 %>
</p>

<p>
  <strong>Shop3:</strong>
  <%= @product.shop3 %>
</p>

<p>
  <strong>Price3:</strong>
  <%= @product.price3 %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
